.router-pages{
    margin-top: 6% !important;
}

@media (max-width: 700px) {
    .col-4{
        width: 50% !important;
    }
    .title-main-pages h1{
        font-size: 120%;
    }
    .title-main-pages p{
        font-size: 100%;
    }
    .col-4 p{
        font-size: 70%;
    }
}
@media (max-width: 1000px) {
    
}