
.image-button-contacts-us{
    position: relative;
}
.title-btn-contac-us{
    position: absolute;
    top: 20%;
    left: 6%;
}
.title-btn-contac-us h1{
    font-size: 45px;
    color: #0CD4EF;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 80%;
    animation: animationTitleDescription 5s linear infinite;
}
@keyframes animationTitleDescription {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
.title-btn-contac-us button{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #1668B2;
    color: #1668B2;
}