.img-backGroud-sf{
    height: 600px;
}
.container-company{
    position: relative;

}
.container-company div{
    position: absolute;
    top: 15%;
    left: 15%;
}
.container-company h1{
    font-size: 60px;
    font-weight: 800;
    color: #0CD4EF;
    background: linear-gradient(90deg, #318eb5, #fff, #3aa4c7);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 80%;
    animation: animationTitleDescription 5s linear infinite;
}
@keyframes animationTitleDescription {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
  .btn-contact-now{
    border-radius: 10px;
  }
  .img-portfolio{
    height: 600px;
  }
  .container-company p{
    font-size: 35px;
    font-weight: 800;
    color: #0CD4EF;
    background: linear-gradient(90deg, #318eb5, #fff, #3aa4c7);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 80%;
    animation: animationTitleDescription 5s linear infinite;
  }