.container-navbar:hover {
  background-color: #1668b2 !important;
  color: white !important;
  transition: 0.5s;
  .btn-primary {
    background-color: white;
    color: #216fb6;
  }
  .link {
    color: white;
  }
}
.container-navbar{
  position: fixed !important;
  top: 0;
  height: 12%;
  background-color: rgba(173, 169, 169, 0.872) !important;
  z-index: 2;
  color: gray;
  font-size: 15px;
}
.container-navbar link:hover{
  color: white;
}
.container-navbar button{
  font-size: 20px;
}
#navbarButtonsExample{
  text-align: right;
  color: gray;
}
#btn-contact-us{
  float: right;
}
#btn-contacts{
  font-size: 13px;
  margin-right: 0 !important;
}