.img-backgroud-title{
    position: relative;
    color: white;
}
.img-backgroud-title div{
    position: absolute;
    top: 20%;
    left: 15%;
}
.img-backgroud-title h1{
    font-size: 80px;
    color: white;
}
.col-6 input{
    height: 70px;
}
.input-form-container{
    position: absolute;
    top: 60%;
    left: 8%;
    background-color: white;
    -webkit-box-shadow: -2px 1px 26px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 1px 26px -5px rgba(0,0,0,0.75);
box-shadow: -2px 1px 26px -5px rgba(0,0,0,0.75);
border-radius: 10px;
}
.container-contact-us{
margin-bottom: 25%;

}
.project-description{
    height: 150px !important;
}
.img-backgroud-contact-us{
    height: 600px;
}